[submodule "server/skynet"]
	path = server/skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "server/3rd/lua-cjson"]
	path = server/3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "server/3rd/lua-grid"]
	path = server/3rd/lua-grid
	url = https://github.com/Lyra-Game/aoi.git
