[submodule "server/skynet"]
	path = server/skynet
	url = git@10.0.136.8:server/skynet.git
[submodule "server/3rd/lua-cjson"]
	path = server/3rd/lua-cjson
	url = git@10.0.136.8:server/lua-cjson.git
[submodule "server/3rd/lua-grid"]
	path = server/3rd/lua-grid
	url = git@10.0.136.8:caiyiheng/aoi.git
